.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 90vh;

  padding: 1rem;
}

table {
  /* padding-bottom: 1rem; */
}

table,
th,
td {
  border-collapse: collapse;

  padding: 1rem;
}

thead {
  background-color: #aee4e4;
}

tbody {
  background-color: #e8f7f5;
}

tr {
  border-bottom: 1px solid #c2c2c2;
}

tr:hover {
  background-color: #d6eeee;
}

.tbl-btn button {
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: rgb(32, 68, 210);
}

.btn-edit {
  background-color: rgb(68, 103, 241);
  color: #fff;
}

.btn-delete {
  background-color: rgb(252, 67, 67);
  color: #fff;
}

.btn-delete:hover {
  background-color: rgb(221, 42, 42);
}

.tbl-body {
  text-align: center;
}

.btn-create {
  margin-top: 2rem;
  width: 10rem;
  height: 2.5rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: rgb(37, 230, 37);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-create:hover {
  background-color: rgb(15, 207, 15);
}
